{template "header.html"}

<div class="note note-danger" style="display:none">
    <p><a href="javascript:dr_update_cache();">{dr_lang('更改数据之后需要更新缓存之后才能生效')}</a></p>
</div>
<form action="" class="form-horizontal" method="post" name="myform" id="myform">
    {$form}
    <div class="portlet bordered light myfbody">
        <div class="portlet-title tabbable-line">
            <ul class="nav nav-tabs" style="float:left;">
                <li class="{if $page==0}active{/if}">
                    <a href="#tab_0" data-toggle="tab" onclick="$('#dr_page').val('0')"> <i class="fa fa-sitemap"></i> {dr_lang('基础设置')} </a>
                </li>
                <li class="{if $page==4}active{/if}">
                    <a href="#tab_4" data-toggle="tab" onclick="$('#dr_page').val('4')"> <i class="fa fa-tachometer"></i> {dr_lang('语言设置')} </a>
                </li>
                <li class="{if $page==3}active{/if}">
                    <a href="#tab_3" data-toggle="tab" onclick="$('#dr_page').val('3')"> <i class="fa fa-cog"></i> {dr_lang('API接口')} </a>
                </li>
                {if is_file(APPSPATH.'Synlang/Models/UrlCache.php')}
                <li class="{if $page==1}active{/if}">
                    <a href="#tab_1" data-toggle="tab" onclick="$('#dr_page').val('1')"> <i class="fa fa-refresh"></i> {dr_lang('页面缓存')} </a>
                </li>
                {/if}
        
            </ul>
        </div>
        <div class="portlet-body">
            <div class="tab-content">

<style>
.lang-title{
    padding: 10px 20px; 
    font-weight: bold; 
    font-size: 20px; 
    background-image: linear-gradient(-90deg, #ffffff 0%, #F1F3F6 100%); 
    border-radius: 6px;
}
.mt-table>span:after{ left:6px;top:3px; }
</style>

<div class="tab-pane {if $page==4}active{/if}" id="tab_4">
    <div class="form-body" style="padding:20px 40px">


        <div class="form-group" style="margin-bottom:0">
            <div class="mt-checkbox-inline">
            <label class="mt-table mt-checkbox mt-checkbox-single mt-checkbox-outline">
                <input type="checkbox" class="checkboxes" id="select-all" />
                <span></span> 全选 / 取消
            </label>

            </div>
        </div>
        {loop $selectlang $zmk $zm}
        <div class="form-group lang-title">
        {$zmk}
        </div>
        <div class="form-group">
            <div class="mt-checkbox-inline mt-checkbox-lang"> 
                {loop $zm $k $v}
                <label class="mt-checkbox mt-checkbox-outline {if $data.showlang && in_array($v,$data.showlang)} cur{/if}">
                    {if is_file(WEBPATH.'/static/assets/18html/synlang/'.$v.'.png')}
                        <img src="{THEME_PATH}assets/18html/synlang/{$v}.png" class="flag">
                    {else}
                        -
                    {/if}
                    <input type="checkbox" class="checkboxes" name="data[showlang][{$k}]" value="{$v}"{if $data.showlang && in_array($v,$data.showlang)} checked{/if}> {$k} / {$v} <span></span> 
                </label>
                {/loop}

            </div>
        </div>
        {/loop}

    </div>
</div>


<div class="tab-pane {if $page==0}active{/if}" id="tab_0">
    <div class="form-body">
        <div class="form-group">
            <label class="col-xs-2 control-label">{dr_lang('模板/内容语言')}</label>
            <div class="col-xs-4">
                <label>
                        <select name="data[sitelang_tpl]" class="form-control tooltips" data-original-title="模板/内容语言">
                            <option value="">--</option>
                            {loop $showlang $zmk $zm}
                            <optgroup label="{$zmk}">
                                {loop $zm $k $c}
                                <option value="{$c}"}{if $data['sitelang_tpl']==$c} selected{/if}>{$k} / {$c}</option>
                                {/loop}
                            </optgroup>
                            {/loop}
                        </select>
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">{dr_lang('主站名称')}</label>
            <div class="col-md-9">
                <label>
                    <input type="text" name="data[sitename]" value="{$data['sitename']}" placeholder="例如：English" class="form-control tooltips" data-original-title="循环时调用显示">
                </label>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-xs-2 control-label">
            {dr_lang('主站语言')}
            <i class="fa fa-question-circle tooltips" data-original-title="主站可设置为外语"></i>
            </label>
            <div class="col-xs-4">
                <label>
                    <select name="data[sitelang]" class="form-control tooltips" data-original-title="默认与 '模板/内容语言' 一致">
                        <option value="">--</option>
                            {loop $showlang $zmk $zm}
                            <optgroup label="{$zmk}">
                                {loop $zm $k $c}
                                <option value="{$c}"}{if $data['sitelang']==$c} selected{/if}>{$k} / {$c}</option>
                                {/loop}
                            </optgroup>
                            {/loop}
                    </select>
                </label>
            
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">{dr_lang('主站国旗')}</label>
            <div class="col-md-9">
<?php echo dr_fieldform('{"name":"国旗","fieldname":"flag","ismain":"1","fieldtype":"File","setting":{"option":{"fieldtype":"","fieldlength":"","input":"1","ext":"jpg,gif,png,svg,webp","size":"1","attachment":"0","image_reduce":"","is_ext_tips":"0","css":""},"validate":{"required":"0","pattern":"","errortips":"","check":"","filter":"","formattr":"","tips":""}},"ismember":"1"}', $data['flag'], 1, 1);?>
            </div>
        </div>

{if dr_is_app('member')}
        <div class="form-group">
            <label class="col-md-2 control-label">会员中心</label>
            <div class="col-md-9">
                <div class="mt-radio-inline">
                    <label class="mt-radio mt-radio-outline tooltips">
                        <input type="radio" name="data[member]" value="1" {if !$data['member'] || $data['member']==1 }checked{/if}> 关闭翻译 <span></span>
                    </label>
                    <label class="mt-radio mt-radio-outline tooltips">
                        <input type="radio" name="data[member]" value="2" {if $data['member']==2 }checked{/if}> 开启翻译 <span></span>
                    </label>
                </div>

            </div>
        </div>
{/if}


        <div class="form-group">
            <label class="col-md-2 control-label"></label>
            <div class="col-md-9">
                <div class="note note-success">
                    <p>模板/内容语言：指的是你主站默认语言，比如你模板是中文，录入是中文；那你就选中文【默认跟 “模板/内容语言” 一致】</p>
                    <p>站点语言：有些客户，主站是中文做的，但是却想显示其他语言，那么，这里就可以选择其他语言</p>
                </div>
            </div>
        </div>







    </div>
</div>








        <div class="tab-pane {if $page==3}active{/if}" id="tab_3">
            <div class="form-body">

                <div class="form-group">
                    <label class="col-md-2 control-label">API切换</label>
                    <div class="col-md-9">
                        <div class="mt-radio-inline">
                            {loop $ci->type $i $n}
                            <?php
                                if($data['plat'] == $n['file']){
                                    $remote = $i;
                                }
                            ?>
                            <label class="mt-radio mt-radio-outline"><input type="radio" name="data[plat]" onclick="dr_remote('{$i}')" value="{$n['file']}" {if $data['plat'] == $n['file']}checked{/if} /> 
                                {$n.name} 
                                <span></span> 
                            </label>
                            {/loop}
                        </div>
                        <span class="help-block zhuce">
                            {php $lli = 1;}
                            {loop $ci->type $i $n}
                            {if $n['url']}
                                {if $lli>1}<span>|</span>{/if}
                                {$n['url']}
                                {php $lli = $lli+1;}
                            {/if}
                            
                            {/loop}
                        </span>
                    </div>
                </div>


                {loop $ci->load_file $tp}
                {load "$tp"}
                {/loop}


                <div class="form-group">
                    <label class="col-md-2 control-label">状态</label>
                    <div class="col-md-9">
                        <input type="checkbox" name="data[open]" value="1" data-on-text="启用" data-off-text="停止" data-on-color="success" data-off-color="danger" class="make-switch" data-size="small" {if $data.open}checked{/if}> 
                        <span class="help-block"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">翻译文字测试</label>
                    <div class="col-md-9">
                        <label><input type="text" name="post[text]" value="你好,世界!" class="form-control"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">翻译语言设置</label>
                    <div class="col-md-9">
                        <label>
                            <select name="post[lang]" id="dr_lang" class="form-control tooltips" data-original-title="目标语言">
                                <option value="">--</option>
   

                            {loop $showlang $zmk $zm}
                            <optgroup label="{$zmk}">
                                {loop $zm $k $c}
                                <option value="{$c}">{$k} / {$c}</option>
                                {/loop}
                            </optgroup>
                            {/loop}





                            </select>
                        </label>
                        <label><button type="button" onclick="dr_test2()" class="btn btn green"> 测试翻译</button></label>
                    </div>
                </div>



                <div class="form-group">
                    <label class="col-md-2 control-label">翻译结果</label>
                    <div class="col-md-9" style="padding-top: 8px" id="dr_sync_html">
                        -
                    </div>
                </div>


                <div class="form-group"{if !$iscache} style="display:none"{/if}>
                    <label class="col-md-2 control-label">{dr_lang('缓存')}</label>
                    <div class="col-md-9">
                        <label class="tooltips" data-original-title="翻译好再开启，否则显示不全">
                            <input type="checkbox" name="data[is_cache]" value="1" {if $data['is_cache']}checked{/if} data-on-text="{dr_lang('开启')}" data-off-text="{dr_lang('关闭')}" data-on-color="success"
                                data-off-color="danger" class="make-switch" data-size="small">
                        </label>

                    </div>
                </div>




            </div>
        </div>



        <div class="tab-pane {if $page==1}active{/if}" id="tab_1">

            <div class="form-group">
                <label class="col-md-2 control-label">缓存</label>
                <div class="col-md-9">
                    <label>
                        <input type="checkbox" name="data[cache_open]" value="1" {if $data['cache_open']}checked{/if} data-on-text="{dr_lang('开启')}" data-off-text="{dr_lang('关闭')}" data-on-color="success" data-off-color="danger" class="make-switch" data-size="small">
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">{dr_lang('缓存时间')}</label>
                <div class="col-md-9">
                    <label>
                        <input type="text" name="data[cache_time]" value="{$data['cache_time']}" placeholder="例如：86400 表示1天" class="form-control tooltips" data-original-title="缓存时间">
                    </label>
                    <span class="help-block">
                        页面缓存多少秒之后更新缓存
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">{dr_lang('点击次数')}</label>
                <div class="col-md-9">
                    <label>
                        <input type="text" name="data[cache_hits]" value="{$data['cache_hits']}" placeholder="例如：100" class="form-control tooltips" data-original-title="点击次数">
                    </label>
                    <span class="help-block">
                        页面访问达到多少次更新缓存
                    </span>
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-2 control-label">静态文件</label>
                <div class="col-md-9">
                    <label>
                        <input type="checkbox" name="data[html_open]" value="1" {if $data['html_open']}checked{/if} data-on-text="{dr_lang('开启')}" data-off-text="{dr_lang('关闭')}" data-on-color="success" data-off-color="danger" class="make-switch" data-size="small">
                    </label>
                    <span class="help-block">
                        开启生成静态，上面的更新定时设置无效；更新页面需要执行下面的清除文件
                    </span>
                </div>
            </div>

            <div class="form-group " >
                <label class="col-md-2 control-label">html文件</label>
                <div class="col-md-9">
                    <button type="button" class="btn green" onclick="dr_clearhtml()">
                        {dr_lang('清除html文件')}
                    </button>
                </div>
            </div>


        </div>


    </div>
        </div>
    </div>
    <div class="portlet-body form myfooter">
        <div class="form-actions text-center">
            <button type="button" onclick="dr_ajax_submit('{dr_now_url()}&page='+$('#dr_page').val(), 'myform', '2000')" class="btn green"> <i class="fa fa-save"></i> {dr_lang('保存')}</button>
        </div>
    </div>
</form>

<?php
if (is_file(APPPATH.'Models/Lang/Deepl.php')) {
    $Deepl_lang = require APPPATH.'Models/Lang/Deepl.php';
}
?>

<script type="text/javascript">
$(function() {
    const languageMap = {dr_array2string($Deepl_lang)};
    // 全选/取消全选功能
    $('#select-all').change(function() {
        var isChecked = $(this).prop('checked');
        $('.checkboxes').prop('checked', isChecked);
        if (isChecked) {
            $('.mt-checkbox-lang .mt-checkbox').addClass('cur');
        } else {
            $('.mt-checkbox-lang .mt-checkbox').removeClass('cur');
        }
    });

    // 单个复选框的切换功能
    $('.mt-checkbox-lang .mt-checkbox').on('click', function(e) {
        e.preventDefault();
        
        $(this).toggleClass('cur');
        
        var checkbox = $(this).find('input[type="checkbox"]');
        checkbox.prop('checked', !checkbox.prop('checked'));

        // 检查是否所有复选框都被选中
        updateSelectAllCheckbox();
    });

    // 更新全选复选框的状态
    function updateSelectAllCheckbox() {
        var allChecked = $('.checkboxes:checked').length === $('.checkboxes').length;
        $('#select-all').prop('checked', allChecked);
    }
    // 当点击小眼睛时，切换input类型
    $('input[type="password"]').each(function() {
        const passwordInput = $(this);
        const togglePassword = passwordInput.next();

        togglePassword.click(function() {
            if (passwordInput.attr('type') === 'password') {
                passwordInput.attr('type', 'text');
                togglePassword.removeClass('fa-eye-slash').addClass('fa-eye');
            } else {
                passwordInput.attr('type', 'password');
                togglePassword.removeClass('fa-eye').addClass('fa-eye-slash');
            }
        });
    });
    dr_remote({intval($remote)});
});

function dr_remote(i) {
    $('.r').hide();
    $('.r'+i).show();
}

function dr_clearhtml() {
    $.ajax({
        type: "GET",
        dataType: "json",

        url: "{dr_url(APP_DIR.'/home/clearHtmlFiles')}",
        success: function(json) {
            dr_tips(json.code, json.msg);
        },
        error: function(HttpRequest, ajaxOptions, thrownError) {
        }
    });
}

function dr_test2() {
    var formData = $("#myform").serializeArray();

    var isOpen = $('[name="data[open]"]').is(':checked');

    if(!isOpen){
        dr_tips(0,'接口状态未启用');
        return;
    }

    var formObject = {};

    formData.forEach(function(item) {
        formObject[item.name] = item.value;
        if (item.name === 'data[plat]') {
            //$('#dr_sync_html').html(item.value === 'BaiduTransApi' ? '正在请求百度...' : '正在请求谷歌...');

            switch(item.value) {
                case 'BaiduTransApi':
                    $('#dr_sync_html').html('正在请求百度...');
                    break;
                case 'GoogleTransApi':
                    $('#dr_sync_html').html('正在请求谷歌...');
                    break;
                default:
                    $('#dr_sync_html').html('正在请求...');
            }

        }
    });
    var selectedFields = formObject['data[plat]'] === 'BaiduTransApi' ? ['data[plat]', 'data[appid]', 'data[appsecret]', 'post[text]', 'post[lang]'] : ['data[plat]', 'data[appcode]', 'post[text]', 'post[lang]'];

    $.ajax({
        type: "POST",
        dataType: "json",
        data: formData.filter(function(item) {
            return selectedFields.includes(item.name);
        }),
        url: "{dr_url(APP_DIR.'/home/lang_index')}",
        success: function(json) {
            if (json.code) {
                $('#dr_sync_html').html('<font color="green">' + json.data + '</font>');
            } else {
                $('#dr_sync_html').html('<font color="red">' + json.msg + '</font>');
            }
        },
        error: function(HttpRequest, ajaxOptions, thrownError) {
            $('#dr_sync_html').html('<font color="red">发生异常：' + HttpRequest.responseText + '</font>');
        }
    });
}
</script>




<style type="text/css">

    .flag{width:18px; vertical-align: middle; box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25); opacity: 1}

    .note{ line-height: 30px; margin: 0 0 5px 0;}
    .note p{ line-height: 1.5; }
    .note pre{ margin-top:10px; }

    .note.input-xlarge{ width: 600px!important; }

    #tab_2 table{border-collapse: collapse; width: 100%; max-width: 800px; margin:20px auto; border:1px solid #ebeef5;}
    #tab_2 table tr th{background: #f0f9eb; padding: 8px 5px; border-bottom:1px solid #ebeef5;}
    #tab_2 table tr td{ border-bottom:1px solid #ebeef5; background: #fafafa; padding: 8px 5px;  }
    #tab_2 table tr:nth-child(even) td{ background: #fff; }

    #tab_2 table tr th{font-size: 18px; font-weight: bold; color: #333;}
    #tab_2 table tr span,.row p span{ color: #f00 }

    #tab_2 table.dark{border:1px solid #ebeef5;}
    #tab_2 table.dark,
    #tab_2 table.dark tr th{background: #f0f9eb; padding: 8px 5px; border-bottom:1px solid #ebeef5;}
    #tab_2 table.dark tr td{ border-bottom:1px solid #ebeef5; padding: 8px 5px;  }
    #tab_2 table.dark tr:nth-child(even){ background: #fff; }


    #tab_4 .mt-checkbox-lang{padding-left:20px;}
    #tab_4 .mt-checkbox-lang label{ width:180px; opacity: .5;}
    #tab_4 .mt-checkbox-lang label img{ opacity: .5;}
    #tab_4 .mt-checkbox-lang label:hover,
    #tab_4 .mt-checkbox-lang label.cur{ opacity: 1;/*background:#333; opacity: .75; color:#fff; border-radius:4px;*/ }
    #tab_4 .mt-checkbox-lang label.cur img{ opacity: 1;}

    #tab_4 .mt-checkbox-lang .mt-checkbox.mt-checkbox-outline>input:checked~span{
        /*background: transparent;*/
        /*border: 1px solid #666;*/
    }

    #tab_4 .mt-checkbox>span, #tab_4 .mt-radio>span{
        border: 0px;
    }

    #tab_4 .mt-checkbox-lang .mt-checkbox>input:checked~span:after{
        left: 6px;
        top: 3px;
        width: 5px;
        height: 10px;
        /*border: solid #fff;*/
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
    #tab_4 .mt-checkbox-lang .mt-checkbox:hover>input:not([disabled])~span,
    #tab_4 .mt-checkbox-lang .mt-checkbox>input:focus~span{
        webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s
    }

    #tab_4 .mt-checkbox-lang .mt-checkbox>input:focus~span{
        /*background: transparent!important;*/
        border: 1px;
    }
    #tab_4 .mt-checkbox-lang .mt-checkbox:hover>input:not([disabled])~span
    {
        /*background: transparent!important;*/
        border: 1px;
    }


    .zhuce a{ color:blue; }
    .zhuce span{ margin:0 10px; }

    /* 添加CSS样式 */
    .password-input-wrapper {
        position: relative;
        display: inline-block;
    }


    .password-input-wrapper i {
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
    }

</style>
{template "footer.html"}