{template "header.html"}

<form class="form-horizontal" method="post" role="form" id="myform">
    {$form}
    <div class="form-body">

        <div class="form-group" id="dr_row_name">
            <label class="col-xs-3 control-label ajax_name">{dr_lang('站点名称')}</label>
            <div class="col-xs-8">
                <input type="text" class="form-control" id="dr_name" name="data[name]" value="{htmlspecialchars((string)$data.name)}">
                <span class="help-block">{dr_lang('中文名称')}</span>
            </div>
        </div>
        <div class="form-group" id="dr_row_mark">
            <label class="col-xs-3 control-label ajax_name">{dr_lang('站点目录')}</label>
            <div class="col-xs-8">
                <input type="text" class="form-control" id="dr_mark" name="data[dirname]" value="{htmlspecialchars((string)$data.dirname)}">
                <span class="help-block">{dr_lang('英文目录格式，不得带其他符号')}</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label ajax_name">{dr_lang('访问模式')}</label>
            <div class="col-xs-8">
                <div class="mt-radio-inline">
                    <label class="mt-radio mt-radio-outline"><input onclick="rrr(this.value)" type="radio" name="rr" value="0" checked=""> {dr_lang('目录模式')} <span></span></label>
                    <label class="mt-radio mt-radio-outline"><input onclick="rrr(this.value)" type="radio" name="rr" value="1"> {dr_lang('域名模式')} <span></span></label>
                </div>
            </div>
        </div>

        <div class="form-group rr rr1" style="display: none">
            <label class="col-xs-3 control-label ajax_name">{dr_lang('终端域名')}</label>
            <div class="col-xs-8">
                <input type="text" class="form-control"  name="data[domain]" value="{htmlspecialchars((string)$data.domain)}">
                <span class="help-block">{dr_lang('支持域名模式或主域名带目录的形式')}</span>
            </div>
        </div>

    </div>
</form>

<script>
    function rrr(r) {
        $('.rr').hide();
        if (r == 1) {
            $('.rr1').show();
        } else {
            $('.rr1').hide();
        }
    }
</script>
{template "footer.html"}