{template "header.html"}


<form action="" class="form-horizontal" method="post" name="myform" id="myform">
    {$form}
    <div class="myfbody">
    <div class="portlet bordered light">


        <div class="portlet-body">

                    <div class="form-body">
                        <div class="form-group" style="display:none">
                            <label class="col-xs-2 control-label ">{dr_lang('终端名称')}</label>
                            <div class="col-xs-4">
                                <input type="text" class="form-control" id="dr_name" name="data[name]" value="{htmlspecialchars((string)$data.name)}">
                                <span class="help-block">{dr_lang('中文名称')}</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-xs-2 control-label ">{dr_lang('目录')}</label>
                            <div class="col-xs-4">

                                <input type="text" class="form-control" id="dr_mark" name="data[dirname]" value="{htmlspecialchars((string)$data.dirname)}">
                                <span class="help-block">{dr_lang('英文目录格式，不得带其他符号')}</span>
                            </div>
                        </div>



        <div class="form-group">
            <label class="col-xs-2 control-label">{dr_lang('语种')}</label>
            <div class="col-xs-4">
                <div class="input-group">
                        <select name="data[lang]" id="dr_lang" class="form-control tooltips" data-original-title="显示给客户的语言">
                            <option value="">--</option>
                            {loop $showlang $zmk $zm}
                            <optgroup label="{$zmk}">
                                {loop $zm $k $c}
                                <option value="{$c}"}{if $data['lang']==$c} selected{/if}>{$k} / {$c}</option>
                                {/loop}
                            </optgroup>
                            {/loop}
                        </select>
                        <span class="input-group-btn">
                            <button onclick="dr_test_lang()" class="btn green" type="button">
                            {dr_lang('测试翻译')}
                            </button>
                        </span>
                </div>
                <div id="dr_sync_html">

                </div>
                <span class="help-block">{dr_lang('保存后生成国旗，没有的国旗需要手动上传')}</span>
            </div>
        </div>



                        <div class="form-group">
                            <label class="col-xs-2 control-label">{dr_lang('国旗')}</label>
                            <div class="col-xs-9">

                <?php echo dr_fieldform('{"name":"国旗","fieldname":"flag","ismain":"1","fieldtype":"File","setting":{"option":{"fieldtype":"","fieldlength":"","input":"1","ext":"jpg,gif,png,svg,webp","size":"1","attachment":"0","image_reduce":"","is_ext_tips":"0","css":""},"validate":{"required":"0","pattern":"","errortips":"","check":"","filter":"","formattr":"","tips":""}},"ismember":"1"}', $data['flag'], 1, 1);?>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-xs-2 control-label">{dr_lang('访问模式')}</label>
                            <div class="col-xs-4">

                                <?php
                                    $domain=1;
                                    if (strpos($data.domain, '/') !== false) {
                                        $domain=0;
                                    }
                                ?>
                                <div class="mt-radio-inline">
                                    <label class="mt-radio mt-radio-outline"><input onclick="rrrr(this.value)" type="radio" name="rr" value="0" {if !$domain}checked=""{/if}> {dr_lang('目录模式')} <span></span></label>
                                    <label class="mt-radio mt-radio-outline"><input onclick="rrrr(this.value)" type="radio" name="rr" value="1" {if $domain}checked=""{/if}> {dr_lang('域名模式')} <span></span></label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group rr rr1">
                            <label class="col-xs-2 control-label ">{dr_lang('终端域名')}</label>
                            <div class="col-xs-9">

                                <input type="text" class="form-control"  name="data[domain]" value="{htmlspecialchars((string)$data.domain)}">
                                <span class="help-block">{dr_lang('支持域名模式或主域名带目录的形式')}</span>
                            </div>
                        </div>

                        <div class="form-group rr rr1">
                            <label class="col-xs-2 control-label">{dr_lang('绑定目录')}</label>
                            <div class="col-xs-9" style="padding-top: 9px">
                                <span class="form-control-static">{php echo \Phpcmf\Service::L('html')->get_webpath(SITE_ID, '', $data.dirname);}</span>
                                <span class="help-block">{dr_lang('服务器新建站点-域名绑定到以上目录')}</span>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-xs-2 control-label">{dr_lang('首页SEO标题')}</label>
                            <div class="col-xs-9">
                                <textarea class="form-control " style="height:70px" name="data[content][seo][SITE_TITLE]">{$data['content']['seo']['SITE_TITLE']}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-2 control-label">{dr_lang('首页SEO关键字')}</label>
                            <div class="col-xs-9">
                                <textarea class="form-control " style="height:70px" name="data[content][seo][SITE_KEYWORDS]">{$data['content']['seo']['SITE_KEYWORDS']}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-2 control-label">{dr_lang('首页SEO描述信息')}</label>
                            <div class="col-xs-9">
                                <textarea class="form-control " style="height:90px" name="data[content][seo][SITE_DESCRIPTION]">{$data['content']['seo']['SITE_DESCRIPTION']}</textarea>
                            </div>
                        </div>
                        <div class="form-group" style="display:none">
                            <label class="col-xs-2 control-label">{dr_lang('排序')}</label>
                            <div class="col-xs-9">
                                <label><input class="form-control" name="data[displayorder]" value="{intval($data['displayorder'])}" /></label>
                            </div>
                        </div>


                    </div>
         


            </div>
        </div>
    </div>

</form>

<style type="text/css">
    .rr1{background: #c0edf1; padding: 10px 0; border-radius: 6px;}
    #dr_sync_html span{display: inline-block; background: #000; color: #fff; margin: 5px 0; padding: 3px 10px; border-radius: 4px;}
</style>


<script type="text/javascript">
    function dr_test_lang() {
        $('#dr_sync_html').html('正在请求翻译...');
        $.ajax({
            type: "POST",
            data: { post: {lang: $('#dr_lang').val(),text:'你好？世界！' }},
            dataType: "json",
            url: "{dr_url(APP_DIR.'/home/lang_index')}",
            success: function(json) {
                if (json.code) {
                    $('#dr_sync_html').html('<span>你好？世界！：<font color="yellow">'+json.data+'</font></span>');
                } else {
                    $('#dr_sync_html').html('<span><font color="red">'+json.msg+'</font></span>');
                }
            },
            error: function(HttpRequest, ajaxOptions, thrownError) {
                $('#dr_sync_html').html('<font color="red">发生异常：'+HttpRequest.responseText+'</font>');
            }
        });
    }

</script>

<script type="text/javascript">
    $(function (){
        rrrr({php echo($domain ? 1 : 0);});
    });
    function rrrr(r) {
        $('.rr').hide();
        if (r == 1) {
            $('.rr0').hide();
            $('.rr1').show();
        } else {
            $('.rr1').hide();
            $('.rr0').show();
        }
    }
    function dr_client_cache() {

        $.ajax({
            type: "GET",
            dataType: "json",
            url: "{dr_url('client/config/cache_index')}",
            success: function (json) {
                if (json.code == 1) {
                    my_update_site_config(0);
                } else {
                    dr_tips(0, json.msg);
                }
            },
            error: function (HttpRequest, ajax, thrownError) {
                dr_ajax_alert_error(HttpRequest, ajax, thrownError);
            }
        });
    }
    /*
    function my_update_site_config(page) {

        $.ajax({
            type: "GET",
            dataType: "json",
            url: "{SELF}?s=client&c=config&m=update_file_index&page=" + page,
            success: function (json) {
                dr_tips(json.code, json.msg);
                if (json.code == 0) {
                    $('#dr_client_cache').html('<font color="red">'+json.msg+'</font>');
                } else {
                    if (json.data == 0) {
                        $('#dr_client_cache').html('<font color="green">'+json.msg+'</font>');
                    } else {
                        my_update_site_config(json.data);
                        $('#dr_client_cache').html('<font color="blue">'+json.msg+'</font>');
                    }
                }
            },
            error: function (HttpRequest, ajax, thrownError) {
                dr_ajax_alert_error(HttpRequest, ajax, thrownError);
            }
        });
    }*/
</script>
{template "footer.html"}