{template "header.html"}

<form class="form-horizontal" method="post" role="form" id="myform">
    {$form}
    <div class="form-body">


        <div class="form-group" id="dr_row_all">
            <label class="col-xs-2 control-label ">{dr_lang('预设翻译')}</label>
            <div class="col-xs-8">
                <textarea class="form-control" rows="20" name="keyword" placeholder="仅支持单词/词组（字母+数字+空格）">{$key}</textarea>
                <span class="help-block">一行一个词，仅支持单词/词组（字母+数字+空格）</span>
                <span class="help-block">优点：保证单词完整性，预设会优先翻译（排前面优先翻译）</span>
                <span class="help-block">缺点：可能出现零碎单词，因为预设词会对句子进行单独切割</span>
            </div>
        </div>


    </div>
</form>


{template "footer.html"}