{template "header.html"}

<form class="form-horizontal" method="post" role="form" id="myform">
<div class="note note-danger">
    <p>{dr_lang('当前服务器是：<b>%s</b>', $name)}</p>
</div>
    <div class="form-body">

        <div class="form-group ">
            <div class="col-xs-12">
                <textarea id="code_editor_demo_1" class="form-control" style="height:360px; width:100%;">{$code}</textarea>
            </div>
        </div>

    </div>
</form>
<button class="btn" data-clipboard-action="copy" data-clipboard-target="#code_editor_demo_1" id="copy_btn">点击复制</button>   
<script type="text/javascript">
//点击复制
$("#copy_btn").click(function() {

        var input = $('#code_editor_demo_1');
         input.select();
          // 执行浏览器复制命令
         document.execCommand("Copy");
         //提示已复制
         dr_cmf_tips(1, '已复制');
})




  
 
</script>

{template "footer.html"}