{template "header.html"}
<form class="form-horizontal" method="post" role="form" id="myform">
    {$form}
    <div class="form-body">
        <div class="form-group">
            <div class="col-xs-12">
                <label class="mt-table mt-checkbox mt-checkbox-single mt-checkbox-outline">
                    <input type="checkbox" class="checkboxes" id="select-all" />
                    <span></span> 全选 <font color="red">* 勾选语种，点击确定，会清空对应语种数据库记录</font>
                </label>
            </div>
        </div>

    {loop $showlang $zmk $zm}
        <div class="form-group" style="padding:5px; margin-left: 10px;  background-image: linear-gradient(-90deg, #ffffff 0%, #F1F3F6 100%); border-radius: 6px;">
            <div class="col-xs-1" style="font-weight: bold; font-size: 16px; text-align:right;">{$zmk}</div>
            <div class="col-xs-10">
                {loop $zm $k $c}
                <label class="mt-table mt-checkbox mt-checkbox-single mt-checkbox-outline" style="width:24%; margin: 6px 0;">
                    <input type="checkbox" class="checkboxes" name="data[key][]" value="{$c}" />
                    <span></span> {$k} / {$c}
                </label>
      
                {/loop}
            </div>
        </div>
    {/loop}

        <script>
        $(document).ready(function() {
            $('#select-all').change(function() {
                $('.checkboxes').prop('checked', $(this).prop('checked'));
            });

        });
        </script>
    </div>
</form>
{template "footer.html"}
