{template "header.html"}
{if $code}

{if $is_time_where}
{template "api_list_date_search.html", "admin"}
{/if}

{if $is_search}
<div class="note note-danger" {if !isset($get.submit) && !$is_show_search_bar}style="display: none"{/if} id="table-search-tool">
    <div class="row table-search-tool">
        <form action="{SELF}" method="get">
            {dr_form_search_hidden($extend_param)}
            {if $extend_search}
            {$extend_search}
            {/if}
            <div class="col-md-12 col-sm-12">
                <label>
                    <select name="field" class="form-control">
                        {loop $field $t}
                        <option value="{$t.fieldname}" {if $param.field==$t.fieldname}selected{/if}>{$t.name}</option>
                        {/loop}
                    </select>
                </label>
            </div>
            <div class="col-md-12 col-sm-12">
                <label><input type="text" class="form-control" placeholder="" value="{$param['keyword']}" name="keyword" style="width:320px" /></label>
                <input type="hidden" class="form-control" placeholder="" value="{$code}" name="code" />
            </div>
            {if $is_time_where}
            <div class="col-md-12 col-sm-12">
                <label>
                    <div class="input-group input-medium date-picker input-daterange" data-date="" data-date-format="yyyy-mm-dd">
                        <input type="text" class="form-control" value="{$param.date_form}" name="date_form">
                        <span class="input-group-addon"> {dr_lang('到')} </span>
                        <input type="text" class="form-control" value="{$param.date_to}" name="date_to">
                    </div>
                </label>
            </div>
            {/if}
            <div class="col-md-12 col-sm-12">
            <label>

                    <select name="search_mod" class="form-control">
                 

                        <option value="0" {if !$param.search_mod}selected{/if}>模糊匹配</option>
                        <option value="1" {if $param.search_mod==1}selected{/if}>精确匹配</option>
                   
                    </select>


            </label>
            </div>
            <div class="col-md-12 col-sm-12">
                <label><button id="table-search-tool-submit" type="button" class="btn blue  " name="submit" > <i class="fa fa-search"></i> {dr_lang('搜索')}</button></label>
                <label><button id="table-search-tool-reset" type="reset" class="btn red  " name="reset" > <i class="fa fa-refresh"></i> {dr_lang('重置')}</button></label>
            </div>
            {if $extend_end}
            {$extend_end}
            {/if}
        </form>
    </div>
</div>
{/if}


<div class="right-card-box">
    <div id="toolbar" class="toolbar">
        {$mytable.foot_tpl}
    </div>
    {template "mytable.html", "admin"}
</div>

{else}


    <form action="" class="form-horizontal" method="post" name="myform" id="myform">
    <div class="portlet bordered light myfbody">
    <div class="portlet-body">
    <div class="form-body">
    {loop $showlang $zmk $zm}
        {php 
            $zm = is_array($zm) ? $zm : [];
            $languages = is_array($languages) ? $languages : [];
            $intersection = array_intersect($zm, $languages);
        }
        {if !empty($intersection)}
        <div class="form-group" style="padding:5px; margin-left: 10px;  background-image: linear-gradient(-90deg, #ffffff 0%, #F1F3F6 100%); border-radius: 6px;">
            <div class="col-xs-1" style="font-weight: bold; font-size: 16px; text-align:right;">{$zmk}</div>
            <div class="col-xs-10">
                {loop $zm $k $c}
                    {if in_array($c,$languages)}
                    <a href="{dr_url('synlang/trans/index',['code'=>$c])}" style="margin-right:50px;">{$k} / {$c}</a>
                    {/if}
                {/loop}
            </div>
        </div>
        {/if}
    {/loop}
    </div>
    </div>
    </div>
    </form>

{/if}

<style>
.col-xs-12.control-label{ text-align:left!important; }
</style>


<div style="display:none;" id="batchbox">
    <div style="padding:20px;">
        <form action="" class="form-horizontal" method="post" name="batchform" id="batchform">
            <div class="form-body">
                <div class="form-group" id="optionhtml">
                    <label class="col-xs-12 control-label">查找【翻译】</label>
                    <div class="col-xs-12">
                        <input type="text" name="string" class="form-control" placeholder="" value="">
                    </div>
                </div>
                <div class="form-group" id="optionhtml">
                    <label class="col-xs-12 control-label">替换成</label>
                    <div class="col-xs-12">
                        <input type="text" name="replace" class="form-control" placeholder="" value="">
                        <div class="note note-danger" style="padding:15px 0; margin:0">
                            <p>{dr_lang('数据操作有风险，请先做好备份；替换后更新缓存')}</p>
                        </div>
                    </div>
                </div>
                <div class="form-actions text-center">
                    <button type="button" onclick="dr_ajax_submit('{dr_url('synlang/trans/batch_replace_value',['code'=>$code])}', 'batchform', '2000','{dr_now_url()}')" class="btn red"> 
                        执行批量替换</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
function dr_batchsave(type) {
    
    $("#type").val(type);

    layer.open({
      type: 1,
      shade: 0.5,
      title: false, //不显示标题
      area: ['420px', '300px'],
      content: $('#batchbox'), 
    });
    
}
            function dr_synlang_refresh() {

                var index = layer.load(2, {
                    shade: [0.3,'#fff'], //0.1透明度的白色背景
                    time: 10000
                });
                $.ajax({type: "GET",dataType:"json", url: admin_file+"?s=synlang&c=trans&m=refresh",
                    success: function(json) {
                        layer.close(index);
                  
                            dr_tips(json.code, json.msg);
               
                    },
                    error: function(HttpRequest, ajaxOptions, thrownError) {
                        layer.closeAll('loading');
                        dr_tips(0, "{dr_lang('操作失败')}");
                    }
                });
            }

            function dr_synlang_clear() {

                var index = layer.load(2, {
                    shade: [0.3,'#fff'], //0.1透明度的白色背景
                    time: 10000
                });
                $.ajax({type: "GET",dataType:"json", url: admin_file+"?s=synlang&c=trans&m=clear&code={$code}",
                    success: function(json) {
                        layer.close(index);
                        if(json.code){
                            dr_tips(1, "{dr_lang('清除完成')}");
                            return false;
                        }else{
                            dr_tips(0, "{dr_lang('操作失败')}");
                            return false;
                        }
                    },
                    error: function(HttpRequest, ajaxOptions, thrownError) {
                        layer.closeAll('loading');
                        dr_tips(0, "{dr_lang('操作失败')}");
                        return false;
                    }
                });
            }
</script>
{template "footer.html"}