{template "header.html"}

<form action="" class="form-horizontal" method="post" name="myform" id="myform">
    {$form}
    <div class="row myfbody">
        <div class="col-md-12">

            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject sbold ">{dr_lang('内容编辑')} 【{dr_synlang_func($code)}】</span>
                    </div>

                    <div class="actions">
                        <div class="btn-group">
                            <a class="btn" href="{$reply_url}"> <i class="fa fa-mail-reply"></i> {dr_lang('返回列表')}</a>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
{note}
{$myfield}
{$diyfield}
{/note}

<div class="form-group" id="dr_row_word">
    <label class="control-label col-md-2">原文</label>
    <div class="col-md-10">
        <textarea class="form-control" style="height:160px; width:100%;" name="data[word]" id="dr_word">{$word}</textarea>
        <span class="help-block"></span>
    </div>
</div>
<div class="form-group" id="dr_row_trans">
    <label class="control-label col-md-2">翻译</label>
    <div class="col-md-10">
        <textarea class="form-control" style="height:160px; width:100%;" name="data[trans]" id="dr_trans">{$trans}</textarea>
        <span class="help-block"></span>
    </div>
</div>
<div class="form-group" id="dr_row_siteid" style="display:none">
    <label class="control-label col-md-2">站点</label>
    <div class="col-md-10">
        <input class="form-control  " type="text" name="data[siteid]" id="dr_siteid" value="1" style="width:200px;" />
    </div>
</div>



{note}
    {dr_code2html('&amp;')}
    <p>编辑</p>
    {table table=app_synlang_trans id=1014}
    <p>{dr_code2html($t.word)}</p>
    <p>{md5(dr_code2html($t.word))}</p>
    {/table}

    <p>页面</p>
    {table table=app_synlang_trans id=1015}
    <p>{$t.word}</p>
    <p>{md5($t.word)}</p>
    {/table}
{/note}





                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="portlet-body form myfooter">
        <div class="form-actions text-center">

            <label><button type="button" onclick="dr_ajax_submit('{dr_now_url()}', 'myform', '2000')" class="btn blue"> <i class="fa fa-save"></i> {dr_lang('保存内容')}</button></label>
            <label><button type="button" onclick="dr_ajax_submit('{dr_now_url()}', 'myform', '2000', '{$reply_url}')" class="btn yellow"> <i class="fa fa-mail-reply-all"></i> {dr_lang('保存并返回')}</button></label>

        </div>
    </div>
</form>

{template "footer.html"}